.theme-dark {
  --main-color-1: #222;
  --main-color-2: #444;
  --main-color-3: #666;

  --secondary-color-1: #bbb;
  --secondary-color-2: #ddd;
  --secondary-color-3: #fff;

  --primary-color: #FFD500;
  --primary-color-2: #FFB544;
  --primary-color-3: #DCB544;
}