.theme-light {
  --main-color-1: #bbb;
  --main-color-2: #ddd;
  --main-color-3: #fff;

  --secondary-color-1: #222;
  --secondary-color-2: #444;
  --secondary-color-3: #666;

  --primary-color: #FF4400;
  --primary-color-2: #FF8844;
  --primary-color-3: #FF9922;
}